.cover__link {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    width: calc(62.5% + 384px);
    aspect-ratio: 8/5;
    color: #FFFFFF;
    text-decoration: none;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: 100%;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        margin: 0;
        width: 100vw;
    }
}

.cover__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 1s;
}

.cover__link:hover:before {
    opacity: 0.8;
}
