.place__title {
    margin: 0;
    padding: 0 4.069% 0 0;
    width: 46.794%;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 1024px) {
    .place__title {
        padding-right: calc(3.451% + 12px);
        width: calc(47.454% - 12px);
        font-size: calc((100vw - 768px)/(1024 - 768) * (72 - 42) + 42px);
        line-height: calc((100vw - 768px)/(1024 - 768) * (76 - 46) + 46px);
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        padding-right: calc(3.889% + 12px);
        width: calc(47.222% - 12px);
    }
}
