.place__image {
    padding-top: 48px;
    padding-right: 4.069%;
    width: 46.794%;
    object-fit: contain;
    object-position: left top;
}

@media screen and (max-width: 1024px) {
    .place__image {
        padding-right: 3.451%;
        width: 47.454%;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
        padding-right: 28px;
    }
}