.place__image {
    padding-top: 48px;
    padding-right: 4%;
    max-width: 46.5%;
    object-fit: contain;
    object-position: left top;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        padding-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
        padding-right: 28px;
    }
}