.lead__image-with-caption {
    width: min(calc(21.3% + 717px), 100%);
    margin: 64px 0 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .lead__image-with-caption {
        margin-top: 56px;
    }
}
