.header {
    padding: 28px 48px 0;
    width: calc(100% - 96px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        padding-left: 16px;
        padding-right: 16px;
        width: calc(100% - 32px);
    }
}
