.places__list {
    width: min(calc(21.8% + 704px), calc(100% - 48px));
    padding-left: max(calc(39.1% - 352px), 24px);
}

@media screen and (max-width: 768px) {
    .places__list {
        margin: 0 auto;
        width: 93.75%;
        padding-left: 0;
    }
}
