.place__paragraph {
    margin: 0;
    padding: 0 0 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;

    }
}
