.intro {
    padding-top: 94px;
    padding-left: max(calc(39.1% - 352px), 24px);
    max-width: 690px;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding-top: 93px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 0 auto;
        padding-top: calc((100vw - 320px)/(768 - 320) * (88 - 64) + 64px);
        padding-left: 0;
        max-width: calc((100vw - 320px)/(768 - 320) * (720 - 288) + 288px);
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding-top: 64px;
        max-width: 288px;
    }
}