.intro {
    padding-top: 94px;
    padding-left: max(calc(39.1% - 352px), 24px);
    max-width: 690px;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding-top: 93px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 88px;
        max-width: 94%;
    }
}
