.cover {
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 92.5%;
    aspect-ratio: 8/5;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin-top: 280px;
    }
}
