.cover {
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: min(calc(62.5% + 384px), 100vw);
    aspect-ratio: 8/5;
}
