.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #2A2C2F;
    opacity: 0.7;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        top: -440px;
        margin-bottom: -440px;
    }
}
